body {
     justify-items: center;
     align-content: center;
     height: 100vh;
     background-color: rgb(136, 136, 136);
}
.form-section {
     display: flex;
     gap: 8px;
}

main{
     background-color: rgb(82, 82, 83);
     border-radius: 25px;
     padding: 20px;

}